body{
    background-color: rgba(71, 71, 83,1);
    display: flexbox;
    color: white;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.header{
    padding: 1%;
    margin: 0;
    text-align: center;
    background-image: url("../Images/snow\ ruin.png");
    color: white;
}

hr{
    visibility: hidden;
}

.topnav {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 2%;
    overflow: hidden;
    border-radius: 3em;
    background-color: rgba(36,36,36,0.5);
}

ol {
  margin: -10%;
  background: 2px solid rgba(51, 204, 204,0.5);
  list-style: none;
  text-align: center;
}

li a {
  background-color: rgba(51, 204, 204,0.5);
  color: white;
  padding: 10%;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10%;
  border-radius: 1em;
  text-decoration: none;
}

li a:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(20, 82, 82);
}

.topnav-centered a {
    float: none;
    color: white;
    font-size: 150%;
    text-decoration-line: none;
    top: 50%;
    left: 50%;
    border-radius: 3em;
    transform: translate(-50%, -50%);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
  }

.topnav a:hover:not(.active) {background-color: rgba(1, 1, 1, 0.5)}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.columncontent{
    text-align: center;
    background-color: rgba(109, 109, 109, 0.25);
    font-size: 150%;
    padding: 10%;
    border-radius: 3em;
}

.newscontent p a{
    color: white;
}

img{
    width: 100%;
    border-radius: 3em;
}

table{
    width: 100%
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(50, 50, 50,1); 
    border-collapse: collapse;
}

table th{
    margin: 5%;
    background-color: rgba(51, 204, 204,0.5);
    border: 1px solid #ddd;
} 

table td{
    text-align: center;
    margin: 5%;
    padding: 1%;
    border: 1px solid #ddd;
}

tr:nth-child(even){background-color: rgba(65, 65, 65,1);}

tr:hover {background-color: rgba(51, 204, 204,0.5);}

.newscontent{
    background-color: rgba(230, 230, 230, 0.05);
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 3em;
}

.downloadlink{
    padding: 0;
}

.downloadlink a{
    color: white;
}

.defaultlink{
    padding: 1%;
}

.defaultlink a{
    color: white;
}

.downloadlink a:hover:not(.active) {background-color: rgba(1,1,1,0.5); padding: 0.5%; border-radius: 3em;}

.defaultlink a:hover:not(.active) {background-color: rgba(1,1,1,0.5); padding: 2%; border-radius: 3em;}

.footer { 
    padding: 0.5%;
    font-size: small;
    text-align: center;
    font-style: italic;
    color: white;
	background-color: rgba(36,36,36,1);
}

.push{
    height: 150px;
}
