body{
    background-color: rgba(43, 43, 43,1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.header{
    padding: 3%;
    border-radius: 3em;
    text-align: center;
    background-image: url("../Images/snow\ ruin.png");
    color: white;
}

hr{
    visibility: hidden;
}

.topnav {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 2%;
    overflow: hidden;
    border-radius: 3em;
    background-color: rgba(36,36,36,0.5);
}

.topnav-centered a {
    float: none;
    color: white;
    font-size: 150%;
    text-decoration-line: none;
    top: 50%;
    left: 50%;
    border-radius: 3em;
    transform: translate(-50%, -50%);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
  }

.topnav a:hover:not(.active) {background-color: rgba(1, 1, 1, 0.5)}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.columncontent{
    text-align: center;
    background-color: rgba(109, 109, 109, 0.25);
    font-size: 150%;
    padding: 15%;
    border-radius: 3em;
}

.newscontent p a{
    color: white;
}

img{
    width: 100%;
    border-radius: 3em;
}

.newscontent{
    background-color: rgba(230, 230, 230, 0.05);
    padding: 2%;
    padding-left: 8%;
    border-radius: 3em;
}

.downloadlink{
    padding: 0;
}

.downloadlink a{
    color: white;
}

.defaultlink{
    padding: 1%;
}

.defaultlink a{
    color: white;
}

.downloadlink a:hover:not(.active) {background-color: rgba(1,1,1,0.5); padding: 0.5%; border-radius: 3em;}

.defaultlink a:hover:not(.active) {background-color: rgba(1,1,1,0.5); padding: 2%; border-radius: 3em;}

.footer { 	
    border-radius: 0.2em;
    font-size: small;
    text-align: center;
    margin-top: auto;
    padding-bottom: 0.5%;
    font-style: italic;
    color: white;
	background-color: rgba(36,36,36,1);
}
